
.link-box {
  display: inline-block;
  width: 150px;
  height: 100px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}